html, body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
    direction: rtl;
    flex-wrap: wrap;
}
body {
    overflow-x: hidden;
}
input[type="email"], input[type="tel"], input[type="password"], input[type="text"] {
    outline: 0;
    padding: 11px 10px !important;
    border: 1px solid #dcdcdc !important;
    border-radius: 8px !important;
    -webkit-appearance: none;
    -webkit-transition: all .2s;
    transition: all .2s !important;
    font-family: initial, sans-serif !important;
    width: 100%;
    margin: 0 !important;
}
input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    border: 1px solid var(--var-readysms-main-color);
}
textarea:focus, input[type="text"]:focus, input[type="email"]:focus, select:focus, input[type="password"]:focus {
    border-color: var(--var-readysms-main-color) !important;
}
a {
    text-decoration: none;
    font-size: 15px;
}
ul {
    margin: 0;
}
body * {
    box-sizing: border-box;
}
.container-header-footer {
    max-width: 1220px;
    margin: auto;
}
.grid {
    display: -ms-grid;
    display: grid;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-center-in-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.relative {
    position: relative;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button {
    width: 100%;
    border-radius: 15px !important;
    background-color: var(--var-readysms-main-color) !important;
    color: #fff !important;
    font-weight: 600;
    padding: 12px !important;
    cursor: pointer;
    font-size: 18px;
    border: none;
}
.readysms-otp-form {
    flex-direction: column;
    gap: 15px;
}
.readysms-messages {
    width: 100%;
    border-radius: 9px;
}
.box-main-login-page-readysms {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    height: 100%;
    min-height: 100vh;
}
.image-side-form-readysms > img {
    max-width: 630px;
}
.logo-image-login-page-readysms {
    max-height: 50px;
    width: auto;
}
.image-side-form-readysms {
    flex-direction: column;
}
.image-side-form-readysms > span > strong {
    color: #2B7EFE;
    padding: 0 4px;
}
.digikala-main-box .go-back-btn-login-page-readysms {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-box-readysms {
    flex: 1;
}
.box-logo-title-above-form-login-readysms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    width: 100%;
    position: relative;
}
.login-form-wrapper-readysms {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    box-shadow: 0 4px 40px 0 #007DCC1A;
    border-radius: 32px;
    padding: 30px 35px;
    flex: 1;
    width: 100%;
    overflow: hidden;
    max-width: 440px;
}
.image-side-form-readysms > span {
    font-weight: 600;
    font-size: 20px;
    position: relative;
    z-index: 0;
}
.image-side-form-readysms > span::after {
    content: "";
    position: absolute;
    background: #F1F8FF;
    width: 120%;
    height: 15px;
    z-index: -1;
    top: 20px;
}
.roles-text-under-form-login-readysms {
    color: #8492A1;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
.roles-page-link-readysms {
    color: #52667B !important;
    text-decoration: none !important;
}
.readysms-mobile-label-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    margin: auto;
}
.readysms-mobile-label-form input {
    text-align: center;
    letter-spacing: 10px;
    font-size: 16px;
    direction: ltr;
    box-sizing: border-box;
    line-height: 1.5em;
}
.readysms-login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.desc-above-form-login-readysms {
    margin: 0 auto 20px;
    font-size: 15px;
    font-weight: 400;
}
.no-template-readysms .form-row {
    margin: 0;
}
.login-form-wrapper-readysms.otp-activated .title-under-logo-login-readysms,
.login-form-wrapper-readysms.otp-activated .go-back-btn-login-page-readysms,
.login-form-wrapper-readysms.otp-activated .readysms-otp-form label,
.login-form-wrapper-readysms.otp-activated .roles-text-under-form-login-readysms,
label span.required {
    display: none;
}
.login-form-wrapper-readysms.otp-activated .desc-above-form-login-readysms.otp-activated {
    display: flex;
}
.desc-above-form-login-readysms.otp-activated {
    display: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.no-template-readysms {
    position: static !important;
}
.woocommerce-form-login__rememberme {
    font-size: 15px;
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    align-items: center;
}
.woocommerce-form-row {
    font-size: 15px;
    width: 100%;
}
.form-structor {
    border-radius: 15px;
    min-height: 550px;
    width: 350px;
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between !important;
    height: 100%;
    padding: 20px 0 20px;
}
.show-hide-btn {
    position: absolute;
    right: 190px;
    top: 50%;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    padding: 1px;
}
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
input[type="password"] ~ .show-pass, input[type="text"] ~ .hide-pass {
    display: none;
}
.error-text {
    color: #b52230;
    padding: 8px 10px;
    text-align: center;
    background: #f8d7da;
    font-weight: 600;
    display: none;
    font-size: 15px;
    width: 100%;
}
.success-text {
    color: #427e1b;
    padding: 8px 10px;
    text-align: center;
    background: #dff8d7;
    border: 1px solid #d1f5c6;
    font-weight: 600;
    display: none;
    font-size: 15px;
    width: 100%;
}
.timer-otp {
    position: absolute;
    right: 186px;
    top: 8px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#countdown,
#countdown-signup {
    height: 30px;
    width: 30px;
    text-align: center;
}
#countdown-number,
#countdown-number-signup {
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}
#countdown-svg,
#countdown-svg-signup {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}
#countdown-svg path,
#countdown-svg-signup path {
    transition: 0.5s all ease-in-out;
    opacity: 0;
}
#countdown-cross,
#countdown-cross-signup {
    visibility: hidden;
}
@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 75px;
    }
}
#otp-box,
#otp-box-signup {
    display: none;
}
.error-refresh-btn {
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 2px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.circles-readysms{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles-readysms li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--var-readysms-main-color);
    opacity: 0.15 !important;
    animation: animate-circles 25s linear infinite;
    bottom: -150px;
}
.circles-readysms li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles-readysms li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles-readysms li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles-readysms li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles-readysms li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles-readysms li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles-readysms li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles-readysms li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles-readysms li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles-readysms li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate-circles {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.go-home-btn-readysms {
    color: var(--var-readysms-main-color) !important;
    width: calc(100% - 40px);
    padding: 12px 0 8px;
    border-radius: 14px;
    font-size: 18px;
    text-decoration: none;
    border: 3px solid var(--var-readysms-main-color);
    font-weight: 500;
    z-index: 1;
    margin-top: 20px;
}
.logo-readysms-login {
    max-width: 190px;
    height: auto;
    max-height: 100px;
    width: auto;
}
.form-login-readysms {
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 40px);
    z-index: 2;
    flex: 1;
}
.form-row {
    width: 100%;
    margin: 0;
}
button {
    width: 100%;
    border-radius: 15px !important;
    background-color: var(--var-readysms-main-color) !important;
    color: #fff;
    font-weight: 600;
    padding: 12px !important;
    cursor: pointer;
    font-size: 18px;
}
.woocommerce-error {
    color: #b52230;
    padding: 8px 10px;
    text-align: center;
    background: #f8d7da;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
}
.woocommerce-error[role=alert]::before {
    display: none;
}
.title-under-logo-login-readysms {
    font-weight: 600;
}
.digikala-main-box {
    max-width: 400px;
    flex-direction: column;
    position: relative;
}
.digikala-main-box {
    max-width: 400px;
    flex-direction: column;
    position: relative;
    border: 1px solid #e0e0e2;
    padding: 32px;
    border-radius: 8px;
}
.title-under-logo-login-readysms {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.1;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    padding: 15px 0;
}
.desc-above-form-login-readysms {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}
.roles-text-under-form-login-readysms {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}
.digikala-main-box label[for="readysms_mobile"] {
    display: none;
}
.digikala-main-box button {
    border-radius: 8px !important;
}
@media only screen and (max-width: 1024px) {
    .digikala-main-box {
        border: none;
        padding: 20px;
    }
}
form.woocommerce-form.woocommerce-form-login.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
p.form-row {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p.lost_password > a {
    text-decoration: none;
}